div.tbh-fixedtool .ft1190 {
    margin-right: -633px
}

div.tbh-fixedtool .ft990 {
    margin-right: -533px
}

div.tbh-fixedtool.left .ft1190 {
    margin-left: -633px;
    margin-right: auto
}

div.tbh-fixedtool.left .ft990 {
    margin-left: -533px;
    margin-right: auto
}

.fixedtool {
    display: none;
    position: absolute;
    z-index: 4;
    top: 837px;
    right: 50%;
    width: 50px;
    text-align: center;
    margin-right: -655px
}

.fixedtool .wangwang.tb-ifont {
    position: absolute;
    height: 36px;
    width: 50px;
    line-height: 36px;
    text-align: center;
    font-size: 32px;
    color: #ff7f13;
    top: -28px;
    right: 0
}

.fixedtool.left {
    left: 50%;
    right: auto;
    margin-right: auto;
    margin-left: -655px;
    top: auto;
    bottom: 50px
}

.fixedtool a {
    display: block;
    height: 44px;
    position: relative;
    text-decoration: none;
    padding: 6px 8px 0;
    font-size: 14px;
    line-height: 40px;
    background: #fff
}

.fixedtool a:after {
    content: '';
    border-bottom: 1px solid #efefef;
    width: 34px;
    position: absolute;
    left: 8px;
    bottom: -1px;
    z-index: 1
}

.fixedtool a:last-child:after {
    border-bottom: none
}

.fixedtool a.fixedtool-1 {
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-background-clip: padding-box;
    -moz-border-radius-topright: 8px;
    -moz-background-clip: padding;
    border-top-right-radius: 8px;
    background-clip: padding-box
}

.fixedtool a.fixedtool-9 {
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-background-clip: padding-box;
    -moz-border-radius-bottomright: 8px;
    -moz-background-clip: padding;
    border-bottom-right-radius: 8px;
    background-clip: padding-box
}

.fixedtool a.fixedtool-8 i {
    font-size: 12px
}

.fixedtool a i {
    font-style: normal;
    font-size: 14px;
    display: block;
    line-height: 40px
}

.fixedtool a.on, .fixedtool a:hover {
    z-index: 2;
    text-decoration: none;
    color: #FFF;
    background-repeat: no-repeat;
    font-weight: 700;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(135deg, #ff971b, #ff5000);
    background-image: -o-linear-gradient(135deg, #ff971b, #ff5000);
    background-image: linear-gradient(135deg, #ff971b, #ff5000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff5000', endColorstr='#ffff6f06', GradientType=1)
}

.fixedtool a.on .tb-ifont, .fixedtool a:hover .tb-ifont {
    color: #FFF
}

.fixedtool a:focus {
    outline: 0
}

.fixedtool a em {
    position: absolute;
    right: -30px;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    z-index: 2;
    top: 5px
}

.fixedtool .fixedtool-7 .tb-ifont {
    color: #999;
    position: relative;
    line-height: 20px
}

a.fixedtool-1, a.fixedtool-3, a.fixedtool-4, a.fixedtool-5, a.fixedtool-6, a.fixedtool-7, a.fixedtool-9 {
    line-height: 17px;
    font-size: 13px
}

a.fixedtool-7, a.fixedtool-8, a.fixedtool-9 {
    font-size: 12px
}

a.fixedtool-1 {
    color: #F40;
    padding-top: 10px;
    height: 40px
}

a.fixedtool-1.on, a.fixedtool-1:hover {
    background-color: #F40
}

.fixedtool-3 {
    color: #f05
}

.fixedtool-4 {
    color: #8d7afb
}

.fixedtool-5 {
    color: #A8C001
}

.fixedtool-2 {
    color: #a2745b
}

a.fixedtool-6 {
    color: #F40
}

.fixedtool-8 strong i, .fixedtool-9 strong i {
    font-size: 12px
}