<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>devz.ai.daily-script</string>
        <key>ProgramArguments</key>
        <array>
            <string>/Users/huchong/PycharmProjects/autoclick/venv/bin/python</string>
            <string>/Users/huchong/PycharmProjects/autoclick/main.py</string>
        </array>
        <key>StartCalendarInterval</key>
        <dict>
            <key>Hour</key>
            <integer>9</integer>
            <key>Minute</key>
            <integer>30</integer>
        </dict>
    </dict>
</plist>